.sidepanel {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(180deg, #5FA3E2, #6FC1E4);
    overflow-x: hidden;
    padding-top: 100px;
    transition: 0.5s;
}


.not-visible-items {
    display: flex;
    flex-direction: column;
}

.sidepanel-close {
    margin-bottom: 60px; /* Adjust as needed */
    margin-left: 30%;
    color: #fff;
}

    .sidepanel-close p.sidepanel-close {
        visibility: visible;
    }

.accordion-button {
    border: none;
}

/* When sidepanel is hovered, hide the sidepanel-close */
.sidepanel:hover .sidepanel-close {
    display: none;
}

/* Increase width on hover */
.sidepanel:hover {
    width: 250px;
}


/* The sidepanel links */
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

/* Hide text by default */
.sidepanel-text {
   display:none;
   margin-bottom:5px;
}

/* Show text on hover */
.sidepanel:hover .sidepanel-text {
    display: block;
    color: white;
    background-color: transparent;
    transition: opacity 0.5s ease;
    border: none;
    margin-right: 40px;
}
.sidepanel:hover .cap_icon {
    display: flex;
}

.cap_icon {
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: -80px;
    padding-bottom: 10px;
    display: none;
}




/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
    color: rgb(236, 236, 236);
}



/* Collapsables ccss*/
/*
 CSS for the main interaction
*/
/* Transparent background for accordion items */
.accordion-item {
    background-color: transparent;
    border: none; /* Remove border if you want */
}

/* Transparent background for accordion headers */
.accordion-button {
    background-color: transparent;
    color: #fff; /* Set text color as needed */
    font-weight: bold;
}

    /* Ensure transparent background remains when accordion is collapsed */
    .accordion-button.collapsed {
        background-color: transparent;
        color: #fff; /* Set text color as needed */
        border-color: #fff;
    }

/* Optional: if you want to style the accordion body */
.accordion-body {
    background-color: transparent;
    color: #fff; /* Set text color as needed */
    font-size: 12px; /* Adjust the font size as needed */
}

form {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    max-width: none;
    background-color: rgb(250, 250, 250);
    margin: 0;
    padding: 0;
}
body{
    width:100vw;
    height:100vh;
margin:0;
padding:0;
box-sizing:border-box;
}
