/* styles.css */

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.smallcontainer {
    background-image: linear-gradient(180deg, #e6deff, #d5caf6);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    width: 400px;
    height: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


.title {
    font-weight: bold;
    font-size: large;
    margin-top: 220px;
    position: absolute;
    font-size: 23px;
}

.e1 {
    color: red; /* Use a colon instead of equals */
    margin-top: 0px;
    margin-right: 42px;
    position: absolute; /* Set as a positioning context */
    font-size: 14px;
}

.e2 {
    color: red; /* Use a colon instead of equals */
    margin-top: 115px;
    margin-right: 40px;
    position: absolute; /* Set as a positioning context */
    font-size: 14px;
}

.e3 {
    color: red; /* Use a colon instead of equals */
    margin-top: 55px;
    margin-right: 125px;
    position: absolute; /* Set as a positioning context */
    font-size: 14px;
}

.e4 {
    color: red; /* Use a colon instead of equals */
    margin-top: 185px;
    margin-right: 70px;
    position: absolute; /* Set as a positioning context */
    font-size: 14px;
}

.button {
    display: block;
    margin-top: 260px; /* Adjusted margin to be relative to the container */
    border-radius: 11px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.1);
    position: absolute;
}

    .button:hover {
        background-image: linear-gradient(180deg, #9C6FE4, #925FE2);
        color: white;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.11);
    }

.Cddl {
    display: block;
    margin-top: 15px; /* Adjusted margin to be relative to the container */
    border-radius: 11px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.1);
    height: 30px;
    width: 200px;
    position: absolute;
}

#txtInput {
    display: block;
    margin-top: 70px; /* Adjusted margin to be relative to the container */
    border-radius: 11px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.1);
    height: 30px;
    width: 200px;
    position: absolute;
    color: #202020;
    border: 0.5px solid #606060;
}


#Studtextbox {
    display: block;
    margin-top: 200px; /* Adjusted margin to be relative to the container */
    border-radius: 11px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.1);
    height: 30px;
    width: 200px;
    position: absolute;
    color: #202020;
    border: 0.5px solid #606060;
}


#SemCH {
    display: block;
    margin-top: 130px; /* Adjusted margin to be relative to the container */
    border-radius: 11px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.1);
    height: 30px;
    width: 200px;
    position: absolute;
    color: #202020;
    border: 0.5px solid #606060;
}

.stat {
    
}

.container1 {
    width: 100%;
    height: 100%;
    background-color: rgb(250,250,250);
    margin: 0;
    padding: 0;
}